html, body {
  width: 100%;
  min-width: 360px;
  height: 100%;
  word-break: break-word;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color:  #17202c;
  color: white;
}

h1, h2, h3, h4 {
  color: white ;
  margin: 5px;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
}

h1 {
  font-family: QuerinoSans;
  color: #fff ;
  letter-spacing: 3px;
  font-size: 40px;
  opacity: 0.75;
}

h2 {
  font-family: QuerinoSans;
  color: #fff ;
  font-size: 25px;
  letter-spacing: 2px;
  margin-left: 5%;
  opacity: 0.7;

}

h3, h4 {
  font-weight: bold;
  color: rgba(245, 245, 245, 0.5);
}

a {
  color: #4b4f56;
}

a:hover {
  color: #2a3a4d;
  font-weight: bold;
}

.container {
  width: 100%;
  margin: 20px 0px;
  padding: 20px 10px 25px 10px;
  border-radius: 3px;
  background-color: #1b2a38;

}

.sub {
  width: 1200px;
  max-width: 100%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about {
  color: rgba(245, 245, 245, 0.5);
  width: 450px;
  min-width: 45%;
  font-size: 18px;
}

.sliderPreview {
   width: 320px;
   height: 450px;
   margin: 15px;
   display: flex;
   justify-content: center;
}

.sliderPreview img {
  max-height: 400px;
  align-self: center;
  border-radius: 9px;
}

.uploadImage {
  margin: 25px 20px;
  font-size: 14px;
  width: 320px;
  padding: 0px;
  text-align: center;
}

.uploadImage .yourProfilePicture {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 20px 80px;
  border: 1px solid #3c4b5e;
  border-radius: 160px;
  box-shadow: 0rem 1rem 2rem rgba(0,0,0,0.07);
}

.uploadImage .yourProfilePicture img {
  width: 100%;
  height: 100%;
  border-radius: 160px;
}

.yourProfilePicture #get_file {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  background: #f9f9f9;
  border: 0px;
  opacity: 0.5;
  border-radius: 160px;
  cursor: pointer;
}


.uploadImage .yourProfilePicture:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.uploadImage .yourProfilePicture:hover #get_file {
  display: block;
}

.uploadImage, .changeRepresentative, .sendTransaction {
  text-align: center;
}

.loadingTransaction {
  width: 100%;
  margin-top: 30px;
}

.loadingTransaction img {
  width: 100px;
}

.modalLayer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
}

.modal {
  width: 600px;
  max-width: 100%;
  margin: 0px auto;
  margin-bottom: 25px;
  text-align: center;
  z-index: 3;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal .content {
  position: relative;
  width: calc(100% - 30px);
  height: 100%;
  padding: 15px;
  background-color: #e9ebee;
  background-color: #17202c;
  border: 1px solid #293a4c;
  border-radius: 20px
}

.modal .close {
  position: absolute;
  top: -1px;
  right: -1px;
  font-size: 20px;
  width: 25px;
  height: 22px;
  font-weight: bold;
  color: white;
  padding: 7px;
  background-color: #ea5365;
  background-color: #293a4c;
  border-radius: 0px 20px 0px 12px;
  cursor: pointer;
}

.modal .close:hover {
  opacity: 0.6;
  background-color: #ea5365;
}

.modal h3 {
  color: #c6c9cd;
}

.listTerms {
  width: 100%;
  height: 320px;
  color: #000;
  font-size: 18px;
  text-align: left;
  overflow: auto;
  border: 1px solid #e9ebee;
  border-radius: 15px;
  background: white;
}

.listTerms li {
  margin: 15px 5px;
}

.showRegister .profilePicture {
  margin: 0px auto;
  width: 250px;
}

.showRegister .profilePicture img {
  width: 180px;
  height: 180px;
  border-radius: 180px;
}

@keyframes blinker {
  50% {
    opacity: 0.25;
  }
}

.pending {
    animation: blinker 2s linear infinite;
}


.qr img {
  width: 180px;
  height: 180px;
  border-radius: 20px;
}

.col {
  word-break: break-word;
  width: 350px;
  margin: 20px auto;
  padding: 12px;
  color: rgba(245, 245, 245, 0.5);
  //border: 1px solid #3c4b5e;
  border-radius: 15px;
  background: #17202c;
}

.col button {
  color: #c6c9cd;
  background: #1b2a38;
  border: solid 1px #c6c9cd;
  border-radius: 0.4rem;
  cursor: pointer;
  opacity: 0.9;
}

.col .request, .col .response {
  //color:#3F3F4E;
  color: #b8b8b8;
  font-size: 14px;
  padding: 10px;
  border: solid 1px #293a4c;
  border-radius: 10px;
  height: 85px;
  overflow: auto;
}

.col .go {
  width: 100%;
  text-align: center;
}



.showRegisters {
  border-radius: 25px;
  padding: 1px;
  background: #17202c;
  border: 1px solid #17202c;
}

.showRegisters, .changeRepresentative, .sendTransaction {
  width: 550px;
  margin: 10px 0 20px 0px;
}

.showRegisters ul.menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

.showRegisters ul.menu li {
  width: 50%;
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
}
.showRegisters ul.menu li.left {
  border-top-left-radius: 25px;
  border-right: 1px solid #111a26;
}
.showRegisters ul.menu li.right {
  border-top-right-radius: 25px;
}
.showRegisters ul.menu li:hover {
  background-color: #111a26;
  cursor: pointer;
}
.showRegisters ul.menu li.selected {
  background-color: #111a26;
}
.showRegisters ul.menu li.selected h3 {
  font-weight: bold;
}
.showRegisters ul.menu li:hover h3 {
  color: white;
}

.registersInfo {
  width: 100%;
  height: 36px;
  color: #b4b8bd;
  margin-bottom: 3px;
  border-top: solid 1px #111a26;
  text-align: right;
}

.registersInfo > div {
  height: 16px;
  display:inline-block;
  margin-right: 20px;
  padding: 8px;
  border: 0px;
}

.listRegisters {
  width: 100%;
  height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 12px;
  text-align: left;
  color: #c6c9cd;
  border-radius: 0px 0px 25px 25px;
  white-space: pre-wrap;
  word-break: break-word;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.listRegisters::-webkit-scrollbar {
  width: 0 !important;
}

.listRegisters img.loading {
  width: 60px;
  height: 60px;
  margin-top: 60px;
  position: absolute;
}

.listRegisters .imageRegister {
  width: 98%;
  height: 60px;
  margin: 10px 0px;
  border: 1px solid #111a26;
  border-radius: 30px;
  background: #111a26;
}

.listRegisters .imageRegister:hover {
  transition: 0.15s ease-in-out;
  box-shadow: 0rem 0.5rem 2rem rgba(0,0,0,0.07);
  transform: scale(0.97);
  cursor: pointer;
}

.listRegisters .imageRegister .imageProfile {
  margin: -7.5px 10px 0px 0px;
  float: left;
  display: flex;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  overflow: hidden;
  background: #17202c;
  border: solid 1px #111a26;
  border-radius: #c6c9cd;
  position: relative;

}

.listRegisters .imageRegister .imageProfile img {
  align-self: center;
  position: absolute;
  //bottom: 0;
  left: -10%;
  width: 120%;
}

.listRegisters .imageRegister .info {
  margin-left: 90px;
  padding: 2px 0px;
  white-space: pre-wrap;
  word-break: break-word;
}

.findImageAccount {
  text-align: center;
}

.findImageAccount .putAccount {
  width: 300px;
  padding: 5px;
  border: solid 3px #ccc;
  border-radius: 5px;
}

.findImageAccount .result {
  width: 100%;
}

.findImageAccount .result img {
  width: 150px;
  border-radius: 100px;
  padding: 20px;
}

button {
  width: 100px;
  height: 50px;
  margin: 15px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(245, 245, 245, 0.5);
  color: #c6c9cd;
  background: #17202c;
  border: solid 1px #c6c9cd;
  border-radius: 0.4rem;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transition: 0.15s ease-in-out;
  box-shadow: 0rem 1rem 2rem rgba(0,0,0,0.07);
  transform: scale(1.05);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 6px;
    display: inline-block;
    padding: 10px 16px;
    font-size: 15px;
    cursor: pointer;
    color: #c6c9cd;
    background: #17202c;
    border: solid 1px #c6c9cd;
    border-radius: 0.4rem;
    cursor: pointer;
    opacity: 0.9;
    font-weight: bold;
}
.custom-file-upload:hover {
  transition: 0.15s ease-in-out;
  box-shadow: 0rem 1rem 2rem rgba(0,0,0,0.07);
  transform: scale(1.05);
}

.footer {
  width: 100%;
  margin: 0px;
  padding: 10px 0px;
}

.footer ul {
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer li.fItem {
  width: 260px;
  height: 120px;
  margin: 10px 20px;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #c6c9cd;
}

.footer li.fItem:hover svg.i, .footer li.fItem:hover img.i {
  transition: 0.15s ease-in-out;
  box-shadow: 0rem 1rem 2rem rgba(0,0,0,0.07);
  transform: scale(1.05);
}

.footer h3, .footer p {
  color: #c6c9cd;
  margin: 1px 0px;
  padding: 1px 0px;
}

.footer a {
  color: rgba(245, 245, 245, 0.5);
  text-decoration: none;
}

.footer a:hover {
  color: white;
}

.footer h4 {
  font-size: 15px;
}

.footer .anarkrypto {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  color: #c6c9cd;
  letter-spacing: 2px;
}

.footer .donate img {
  cursor:pointer;
  width: 90px;
  height: 90px;
}

.social-list {
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.social-list ul {
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.social-list svg {
  margin: 1px 10px 0px 0px;
}

.social-list svg:hover {
  transition: 0.15s ease-in-out;
  box-shadow: 0rem 1rem 2rem rgba(0,0,0,0.07);
  transform: scale(1.05);
}

@font-face {
    font-family: QuerinoSans;
    src: url("/fonts/QuerinoSans_PERSONAL_USE_ONLY.ttf") format("opentype");
}


@media screen and (max-width: 400px) {
  .about {
    width: 350px;
  }
  .showRegisters {
    width: 350px;
  }
}
